extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p The following projects, as well as this portfolio website, showcase various development skills from front end to backend development. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects  
        .cell.underline
          a(href=`/project/${project.id}`)
            video.thumbnail(src=`${project.video_preview}`, loop, muted, poster=`${project.alternate_main}`, alt=`Preview video of ${project.project_name} and link see more about this project.`)
            h5 #{project.project_name}

