extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p The following projects, as well as this portfolio website, showcase various development skills from front end to backend development. 
        p This website was built using Express,Node.js, Pug, and Javascript and is hosted on Heroku and AWS.
        a.btn-link(href='https://github.com/Abbie-Bowen/Unit-6-Static-Node.js-and-Express-Site' target="_blank") Github

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects  
        .cell.underline
          a(href=`/project/${project.id}`)
            video.thumbnail(src=`${project.video_preview}`, loop, muted, poster=`${project.alternate_main}`, alt=`Preview video of ${project.project_name} and link see more about this project.`)
            h5 #{project.project_name}

